$height: calc(100%);


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
button {
        padding: .8rem 3rem;
        color: var(--red);
        cursor: pointer;
        font-size: 1.7rem;
        border-radius: .5rem;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 45%;
        background-color: aliceblue;
        z-index: 0;
        color: black;
        margin-top: 1rem;
    
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgb(19, 92, 114);
    transition: .3s linear;
    z-index: -1;
}
a {
    text-decoration: none;
    color: black;
}
button:hover::before {
    width: 100%;
    left: 0;
    color: rgb(17, 11, 11);
}

.landing {
    height: $height;
}
img {
    height: $height;
    width: 100%;
    object-fit: cover;
}